@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sora", sans-serif;
    background-color: #FAFAF9;
}

span {
    background-color: #F5C044;
    font-size: 1.25rem;
}